<?xml version="1.0" encoding="utf-8"?>
<!-- Kopyalayın: Bu dosyayı SecretString.config olarak kopyalayıp kendi şifrenizi girin. -->
<!-- TCP zorunlu: Somee gibi uzak SQL Server için Network Library=DBMSSOCN ekleyin. -->
<connectionStrings>
	<add name="GameTrackerDB"
		 connectionString="workstation id=GameTrackerDB.mssql.somee.com;packet size=4096;user id=KULLANICI;pwd=SIFRE;data source=GameTrackerDB.mssql.somee.com;persist security info=False;initial catalog=GameTrackerDB;TrustServerCertificate=True;Network Library=DBMSSOCN"
		 providerName="System.Data.SqlClient"/>
</connectionStrings>
